body{
	background-color:lightskyblue;
	font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1{
	color: darkslategray;
  font-family: "Cournier"
}

p {
  color: midnightblue;
  font-family: "Tahoma" monospace;
}

p {
  color: black;
  font-family: Tahoma
}

.wrapper {
  width: 30em;
  margin: 0 auto;
}

.face{
  border-radius: 25px;
  height: 10em;
  width: 10em;

}

.face, .content {
  display: inline-block;
}


.content {
  margin-left: 2em;
}
